<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение брони</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="~{adminMenu :: copy}"></div>

<div class="container w-50">
    <h1 class="text-center">Изменить бронь</h1>
    <div id="error" style="color: red; font-style: italic;"></div>
    <form id="reservation-form" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id"  th:value="${reservation.getId()}" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="type_room_id">Тип комнаты</label>
            <select class="form-select" id="type_room_id" name="type_room_id" required>
                <th:block th:each="typerooms : ${typeroomList}">
                    <th:block th:switch="${typerooms.getId()}">
                        <option th:value="${typerooms.id}" th:text="${typerooms.getNameType()}" selected th:case="${reservation.getRoom().getTypeOfRooms().getId()}"></option>
                        <option th:value="${typerooms.id}" th:text="${typerooms.getNameType()}" th:case="*"></option>
                    </th:block>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="date_in">Дата заезда</label>
            <input class="form-control" type="date" dataformatas="DD/MM/YYYY" id="date_in" name="date_in"  th:value="${reservation.getDateIn()}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="date_out">Дата выезда</label>
            <input class="form-control" type="date" dataformatas="DD/MM/YYYY" id="date_out" name="date_out" th:value="${reservation.getDateOut()}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="guest">ФИО гостя</label>
            <select class="form-select" id="guest" name="guest" required>
                <th:block th:each="guest : ${guests}">
                <th:block th:switch="${guest.getId()}">
                    <option th:value="${guest.getId()}" th:text="${guest.getFullName()}" selected th:case="${reservation.getGuest().getId()}"></option>
                    <option th:value="${guest.getId()}" th:text="${guest.getFullName()}" th:case="*"></option>
                </th:block>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="guests_count">Количество гостей</label>
            <input class="form-control" type="text" id="guests_count" name="guests_count" th:value="${reservation.getGuestCount()}" required/>
        </div>

        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>

<script type="text/javascript" th:src="@{/static/js/editReservation.js}"></script>
</body>
</html>